<div class="container mt-3">
  <mat-card class="mat-main-card p-3">
    <mat-card-header>
      <div class="d-flex w-100" style="justify-content: space-between">
        <h2>Archives</h2>
        <div class="d-flex status-indicator" style="margin-top: 0.5rem">
          <div class="num">
            <span>250001</span>
          </div>
          <button mat-icon-button class="chip" title="Rechercher un bordereaux">
            <mat-icon>search</mat-icon>
          </button>
          <mat-chip-set>
            <!--<mat-chip [color]="backendStatus ? 'primary' : 'warn'" selected>
              <mat-icon>{{
                backendStatus ? "cloud_done" : "cloud_off"
              }}</mat-icon>
            </mat-chip>-->
          </mat-chip-set>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="bloc row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex Jean Dupont" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex Jean Dupont" />
          </mat-form-field>
        </div>
      </div>
      <div class="bloc row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex Jean Dupont" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex Jean Dupont" />
          </mat-form-field>
        </div>
      </div>
      <div class="bloc row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex Jean Dupont" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Ex Jean Dupont" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <div class="footer">
      <div class="row">
        <div class="d-flex justify-content-start">
          <button mat-button>Reset</button>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button mat-flat-button >Enregistrer</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
